.parent
  { margin:auto;
    display:flex;
    
    justify-content:center;
    height: 40vh;
    width: 50%;
   top: 900%;
   left: 20%;

 background-color: brown;
  }

  .grand
  {height: 150vh;
    background-color: gold;
    display: flex;
  }